@tailwind base;
@tailwind components;
@tailwind utilities;

/* hamburger menu */

.hamburger {
    cursor: pointer;
    width: 48px;
    height: 35px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 9px;
    left: 12px;
    width: 24px;
    height: 2px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Add Goal Form */

.addClick{
    margin-top: 1rem;
    border-width: 2px;
}

/* Goal Container */

#goal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 18rem;
    height: fit-content;
    border: 2px solid indigo;
    border-radius: .25rem;
    justify-content: space-between;
}

#single-goal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 18rem;
    height: fit-content;
    border: 2px solid indigo;
    border-radius: .25rem;
    justify-content: space-between;
}

.goal-info {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 18rem;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.5rem;
}

/* Calendar */

#calendar-chart {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    margin: 0 auto 0 0;
}

.calendar-label{
    table-layout: fixed;;
    font-size: .25rem;
    position: relative;
    background-color: transparent;
    margin-top: 1rem;    
}

thead .table-head-row {
    height: 1rem;
    font-size: .75rem;
    line-height: .75rem;
    padding: 0 0 5px 0;
}

tbody tr .months {
    table-layout: fixed;
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
}

tbody tr td .month-label{
    bottom: -4px;
}

.calendar-graph{
    table-layout: fixed;
    height: 100%;
    border-collapse: separate;
    text-align: start;
  }

tbody tr {
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
}

.day-of-week {
    text-align: center;
    font-size: .75rem;
    line-height: .75rem;
    font-weight: 900;
    flex: none;
    width: 1rem;
    margin: 2px;
}
.goal-table-body{
    table-layout: fixed;
    width: 100%;
    background-color: indigo;
    border-radius: .25rem;
}
.goal-table-body tr {
    height: 1rem;
    font-size: .5rem;
    line-height: .5rem;
}

tbody tr .goal-cal-day {
    table-layout: fixed;
    width: 1rem;
    margin: 2px;
    background-color: lavender;
    border-radius: .5rem; 
}
tbody tr .goal-cal-completed-day {
    table-layout: fixed;
    width: 1rem;
    margin: 2px;
    background-color: indigo;
    border-radius: .5rem; 
}
.goal-meta-data {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-width: 280px;
    justify-content: space-around;
}

/* Goal List */

.goal-list-group {
    display: grid;
    min-height: fit-content;
    justify-items: center;
}

/* Profile */

#profile-banner {
    display: grid;
    min-height: fit-content;
}

.profile-banner-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    
}

/* Comments */

.comment-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 18rem;
    height: 7rem;
    padding: 1rem;
    border: 2px solid indigo;
    border-radius: .25rem;
    justify-content: space-evenly;
}